* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  font-size: 18px;
  background-color: #47433f;
}

.first-li {
  min-width: 140px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #824422;
}

.accept {
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-image: url("../images/accept-back.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  font-size: 24px;
  z-index: 30;
  color: #fff;
}
.accept::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 33, 44, 0.5137254902);
  z-index: -1;
}

#accept_mobile_container {
  display: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.default_btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #824422;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s linear;
  color: #fff;
  font-weight: 600;
}
.default_btn:hover {
  background-color: #966b54;
  color: #fff;
  border: 1px solid #fff;
}
.default_btn button {
  cursor: pointer;
  font-size: 18px;
}

#map {
  width: 100%;
  height: 700px;
  background-image: url("../images/map.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.container {
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  z-index: 5000000;
  background-color: #12100e;
}

.my_header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #fff;
  background-color: var(--aqua-color);
  background-color: #1b1b1d;
}

.mobile {
  display: none;
}

.nav_links a {
  transition: color 0.2s linear;
  font-weight: 600;
}
.nav_links a:hover {
  color: #b3574b;
}

.header {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header .logo {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .logo img {
  width: 100%;
  height: 60px;
}

.close_btn span {
  font-size: 30px;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.mobile_call {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile_links {
  position: absolute;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  z-index: 4000;
  justify-content: center;
  background-color: #000;
  transition: all 0.2s linear;
}
.mobile_links .close_btn {
  width: 100%;
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
  height: 20%;
}
.mobile_links .nav_links_mobile {
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: relative;
  left: 0;
}
.line::before {
  content: "";
  position: absolute;
  top: 8px;
  width: 30px;
  height: 3px;
  background-color: #fff;
}
.line::after {
  content: "";
  position: absolute;
  top: -8px;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

/* hero section=========== */
#hero-section {
  width: 100%;
  height: 100vh;
  background-image: url("../images/hero-section.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  color: #fff;
}
#hero-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(22, 19, 19, 0.431372549);
}

#hero-section.hero2 {
  background-image: url("../images/hero-section2.webp");
  background-size: cover;
  background-position: center right;
}
#hero-section.hero2-title {
  width: 60%;
}
#hero-section.hero2-description {
  width: 60%;
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  left: 0;
  z-index: 30;
}
.hero-section_title {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  font-size: 38px;
}
.hero-section_description {
  display: flex;
  justify-content: center;
  text-align: center;
}
.hero-section_btn {
  width: 300px;
}

#train {
  margin: 100px 0;
}

.train_right_description ul {
  list-style: disc;
}

.train {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.train h2 {
  text-align: center;
  margin-bottom: 50px;
}
.train_info {
  width: 100%;
  display: flex;
  gap: 30px;
}
.train_info_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.train_info_right img {
  width: 100%;
  height: 350px;
}
.train_info_right_title {
  margin-bottom: 20px;
}
.train_info_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.train_info_left img {
  width: 100%;
  height: 350px;
}

#team {
  margin: 100px 0;
}

.team {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team_description {
  width: 60%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
.team_cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.team_cards_card,
.team_cards .swiper-slide {
  width: 33.3333333333%;
  height: 580px;
  border-radius: 10px;
  overflow: hidden;
}
.team_cards_card_image,
.team_cards .swiper-slide_image {
  width: 100%;
  height: 75%;
  overflow: hidden;
}
.team_cards_card_image img,
.team_cards .swiper-slide_image img {
  object-fit: cover;
}
.team_cards_card_info,
.team_cards .swiper-slide_info {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team_cards_card_info {
  padding: 15px;
  text-align: center;
}

.orange-text {
  color: #ffac7f;
}

.maps {
  width: 100%;
}
.maps_title {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}
.maps_title h2 {
  margin-bottom: 20px;
}
.maps_info_images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.maps_info_images_item {
  width: 48%;
  height: 300px;
}
.maps_info_images_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.page2 .maps_info_images_item {
  width: 30%;
}

#war {
  width: 100%;
  height: 600px;
  background-image: url("../images/war.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  left: 0;
  color: #fff;
}
#war::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(22, 19, 19, 0.5215686275);
}

.war {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.war_title, .war_description {
  width: 60%;
  text-align: center;
}
.war_title {
  margin-bottom: 20px;
}

#news {
  width: 100%;
  height: 600px;
  background-image: url("../images/news.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

#war2 {
  background-image: url("../images/war2.webp");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  left: 0;
  color: #fff;
}
#war2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(22, 19, 19, 0.5215686275);
}

#game-info {
  margin: 100px 0;
}

.game-info {
  width: 100%;
  display: flex;
  padding: 50px 20px;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.game-info-title {
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
}
.game-info-description {
  width: 60%;
  line-height: 1.5;
}

#contacts_form {
  margin: 100px 0;
}

.contacts_af {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.contacts_af .contacts_adress {
  width: 46%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts_af .contacts_form {
  width: 46%;
  padding: 10px;
}

.footer-socials svg {
  fill: #fff !important;
  width: 50px;
  height: 50px;
}

.footer {
  color: #000 !important;
}

#instagram {
  width: 30px;
  height: 30px;
  margin-bottom: 11px;
}

.my_footer {
  text-align: center;
  padding: 30px;
}

.my_form input {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 18px;
  color: #fff;
  border-bottom: 1px solid #1c2842;
}

/* ============== */
#politicCheck {
  background-color: red;
}

.checkText {
  width: 100% !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  color: #fff;
}
.checkText input {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  margin-top: 6px;
}

#footer {
  border-top: 1px solid gray;
  background-color: #1a1c20;
  color: #fff;
}

.footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #fff;
}
.footer_left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_middle {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_right {
  width: 30%;
}

@media (max-width: 1500.98px) {
  .container {
    max-width: 1140px;
    padding: 0 24px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 1140px;
    padding: 0 24px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 960px;
    padding: 0 24px;
  }
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 100%;
    padding: 0 24px;
  }
  #pirate {
    height: auto;
  }
  .pirate_right_cards_card_image {
    height: 40px;
  }
  .pirate {
    flex-direction: column;
  }
  .pirate_left {
    width: 100%;
  }
  .pirate_left_image {
    height: 400px;
  }
  .pirate_right {
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .footer_left, .footer_middle, .footer_right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer_left {
    flex-direction: column;
    align-items: center;
  }
  #accept_mobile_container {
    display: block;
  }
  .train h2 {
    margin: 0;
    border-top: 1px solid #1c2842;
  }
  .train_info {
    display: flex;
    flex-direction: column;
  }
  .train_info_left, .train_info_right {
    width: 100%;
    text-align: center;
    gap: 10px;
  }
  .war_title,
  .war_description {
    width: 100%;
  }
  .info_cards {
    flex-direction: column;
  }
  .info_cards_card {
    width: 100%;
  }
  .info_cards_card:nth-child(2n) {
    flex-direction: column;
  }
  .hero-section_title h1 {
    text-align: center;
  }
  .contacts_af {
    flex-direction: column;
  }
  .contacts_adress,
  .contacts_form {
    width: 100% !important;
  }
  .contacts_adress {
    align-items: center;
    text-align: center;
  }
  .game-info-description {
    width: 100%;
  }
  #map {
    height: 400px;
  }
  .hero-section {
    width: 100%;
  }
  .hero-section_title {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
  #cookieBanner {
    display: none !important;
  }
  .footer_middle {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .modal_container {
    width: 90% !important;
  }
  #hero-section {
    position: relative;
    background-size: cover;
  }
  #hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 33, 44, 0.5137254902);
  }
  .maps_info_images_item {
    width: 100%;
  }
  .team_title {
    text-align: center;
  }
  .team_description {
    width: 100%;
  }
  .page2 .maps_info_images_item {
    width: 100% !important;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1232px;
    padding: 0 24px;
  }
}
.cookie-consent-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 9999;
  display: none;
}

.cookie-consent-banner button {
  background-color: #ff4d00;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}

.accept_btns {
  display: flex;
  gap: 30px;
  transform: translateY(50px);
}

.no_btn_accept {
  background-color: #0abab5;
  font-weight: 600;
}

.yes_btn_accept {
  background-color: rgb(224, 44, 44);
  font-weight: 600;
}

.mobile_content_btn {
  color: #fff;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.mobile_content_btn a {
  font-size: 16px;
}

.accept_title {
  text-align: center;
  margin-top: 300px;
}

.form_inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.form_inner .checkText {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  font-size: 14px;
}
.form_inner .checkText input {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  margin-top: 6px;
}
.form_inner .name_phone {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.form_inner input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 7px 10px;
  color: #fff;
  font-size: 18px;
  display: flex;
  gap: 20px;
}

.modal_container_header {
  position: relative;
  left: 0;
  height: 20%;
  color: #fff;
}

.modal_close {
  position: absolute;
  right: -10px;
  top: -20px !important;
  cursor: pointer;
}
.modal_close span {
  display: flex;
  align-items: flex-start;
  font-size: 30px;
}

body.modal-open {
  overflow: hidden;
}

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}

.modal_container {
  width: 400px;
  height: 400px;
  background-color: #47433f;
  color: #fff;
  position: fixed;
  z-index: 40000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #16212c;
  padding: 20px;
  display: none;
  border-radius: 5px;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.4);
}
.modal_container .modal_form {
  display: flex;
  height: 80%;
}
.modal_container .modal_form .formMod {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal_container .modal_form .formMod input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 7px 10px;
  color: #fff;
  font-size: 18px;
  display: flex;
  gap: 20px;
}
.modal_container .modal_form .formMod .checkText {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  font-size: 14px;
}
.modal_container .modal_form .formMod .checkText input {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  margin-top: 6px;
}
.modal_container .modal_form .formMod .checkText span {
  color: #fff;
}
.modal_container input {
  width: 100%;
  font-size: 20px;
}

.checkText span {
  color: #fff;
}/*# sourceMappingURL=style.css.map */